Repository FluentlyOrg/Fluently-fork, pull requests merged in 2025-07, with the labels that each got.

#160 fix: ports for backend
  .github/workflows/deploy.yml
  backend/docker-compose.test.yml
  backend/docker-compose.yml
  backend/nginx-container/nginx.conf.template
  docker-compose.yml
Labels: bug, Backend

#163 Filling database with data
  .gitignore
  analysis/.gitignore
  analysis/Words.ipynb
  analysis/image.png
  backend/cmd/import/README.md
  backend/cmd/import/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/repository/models/word.go
Labels: Backend, Data Analyst

#174 feature: telegram bot with webhooks and deployment
  .env.example
  .github/workflows/deploy.yml
  Makefile
  backend/cmd/import/main.go
  backend/nginx-container/Dockerfile
  backend/nginx-container/nginx.conf.template
  docker-compose.yml
  telegram-bot/.env.example
  telegram-bot/.gitignore
  telegram-bot/.gitlab-ci.yml
  telegram-bot/Dockerfile
  telegram-bot/README.md
  telegram-bot/cmd/main.go
  telegram-bot/config/config.go
  telegram-bot/docker-compose.yml
  telegram-bot/go.mod
  telegram-bot/go.sum
  telegram-bot/internal/api/client.go
  telegram-bot/internal/bot/fsm/memory.go
  telegram-bot/internal/bot/fsm/states.go
  telegram-bot/internal/bot/handlers/service.go
  telegram-bot/internal/tasks/handlers.go
  telegram-bot/internal/tasks/scheduler.go
  telegram-bot/internal/webhook/server.go
Labels: Backend, Devops, telegram

#180 Develop
  .github/workflows/deploy.yml
  Makefile
  backend/internal/config/config.go
  backend/internal/repository/postgres/main_test.go
  docker-compose.test.yml
  docker-compose.yml
Labels: bug, Backend

#190 fix
  backend/internal/api/v1/handlers/auth_handler.go
  backend/internal/api/v1/handlers/lesson_handler.go
Labels: bug, Backend

#191 Develop
  .DS_Store
  .env.example
  .github/workflows/deploy.yml
  android-app/.gradle/8.11.1/checksums/checksums.lock
  android-app/.gradle/8.11.1/fileChanges/last-build.bin
  android-app/.gradle/8.11.1/fileHashes/fileHashes.lock
  android-app/.gradle/8.11.1/gc.properties
  android-app/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  android-app/.gradle/buildOutputCleanup/cache.properties
  android-app/.gradle/vcs-1/gc.properties
  android-app/build/reports/problems/problems-report.html
  backend/internal/api/v1/handlers/auth_handler.go
  backend/internal/api/v1/handlers/lesson_handler.go
  ios-app/Fluently/Fluently/AppComponents/AccountData.swift
  ios-app/Fluently/Fluently/AppComponents/AvatarImage.swift
  ios-app/Fluently/Fluently/AppComponents/Shared/Fonts/Fraunces.ttf
  ios-app/Fluently/Fluently/AppComponents/Shared/Fonts/Inter-Regular.otf
  ios-app/Fluently/Fluently/AppComponents/Shared/Fonts/SedanSC-Regular.ttf
  ios-app/Fluently/Fluently/AppComponents/ViewModifiers/BackgroundViewModifier.swift
  ios-app/Fluently/Fluently/AppComponents/ViewModifiers/ButtonViewModifier.swift
  ios-app/Fluently/Fluently/AppComponents/ViewModifiers/GlassView.swift
  ios-app/Fluently/Fluently/AppComponents/ViewModifiers/SheetViewModifier.swift
  ios-app/Fluently/Fluently/Assets.xcassets/Theme/whiteBackground.colorset/Contents.json
  ios-app/Fluently/Fluently/Component/BackgroundViewModifier.swift
  ios-app/Fluently/Fluently/Network/APIService.swift
  ios-app/Fluently/Fluently/Network/AuthAPI.swift
  ios-app/Fluently/Fluently/Network/LessonAPI.swift
  ios-app/Fluently/Fluently/Screens/CardScreens/Dicrionary/Presenter/DictionaryScreenPresenter.swift
  ios-app/Fluently/Fluently/Screens/CardScreens/Dicrionary/View/DictionaryView.swift
  ios-app/Fluently/Fluently/Screens/CardScreens/Non-learned/View/Non-learnedView.swift
  ios-app/Fluently/Fluently/Screens/CardScreens/Notes/View/NotesView.swift
  ios-app/Fluently/Fluently/Screens/HomeScreen/HomeScreenBuilder.swift
  ios-app/Fluently/Fluently/Screens/HomeScreen/Interactor/HomeScreenInteractor.swift
  ios-app/Fluently/Fluently/Screens/HomeScreen/VIew/Components/AvatarImage.swift
  ios-app/Fluently/Fluently/Screens/HomeScreen/VIew/HomeScreenView.swift
  ios-app/Fluently/Fluently/Screens/LessonScreens/View/LessonScreensView.swift
  ios-app/Fluently/Fluently/Screens/LoginScreen/Presenter/GoogleAuthViewModel.swift
  ios-app/Fluently/FluentlyTests/ApiServiceUnitTest.swift
  report-imges/.DS_Store
Labels: bug, Frontend, Backend, Devops

#192 feature: setup local development pack
  CONTRIBUTING.md
  backend/cmd/main.go
  backend/internal/api/v1/handlers/lesson_handler.go
  backend/internal/repository/models/topic.go
  backend/internal/repository/postgres/lesson_postgres.go
  backend/internal/repository/postgres/sentence_postgres.go
  docker-compose-local.yml
  docs/Install_Local.md
  restore_database.sh
Labels: documentation, enhancement, Devops

#195 feature: add cache to ML build image
  .github/workflows/deploy.yml
Labels: bug, Devops

#200 thesaurus & llms API
  .gitignore
  analysis/llms/api.py
  analysis/thesaurus/README.md
  analysis/thesaurus/app.py
  analysis/thesaurus/requirements.txt
  analysis/thesaurus/result.csv
  analysis/thesaurus/thesaurus.ipynb
  analysis/words/Words.ipynb
  analysis/words/image.png
Labels: documentation, ML, Data Analyst

#203 Develop
  .github/workflows/deploy.yml
  .gitignore
  analysis/bert/__init__.py
  analysis/bert/distractor_generator.py
  analysis/distractor_api/Dockerfile
  analysis/distractor_api/services/distractor_service.py
  analysis/thesaurus/result.csv
  docker-compose.yml
Labels: bug, Backend, ML, Devops

#218 Develop sync
  .github/workflows/deploy.yml
  analysis/distractor_api/main.py
  analysis/distractor_api/requirements.txt
  analysis/llms/Dockerfile
  analysis/llms/README.md
  analysis/llms/main.py
  analysis/llms/requirements.txt
  analysis/thesaurus/app.py
  analysis/thesaurus/requirements.txt
  backend/internal/router/router.go
  backend/monitoring/prometheus/prometheus.yml
  backend/nginx-container/nginx.conf.template
  docker-compose.yml
Labels: documentation, Backend, Devops

#222 fix: get by word and translation instead of just word
  backend/internal/api/v1/handlers/progress_handler.go
  backend/internal/api/v1/handlers_test/progress_test.go
  backend/internal/api/v1/handlers_test/setup_test.go
  backend/internal/repository/postgres/learned_word_postgres.go
  backend/internal/repository/postgres/learned_words_test.go
  backend/internal/repository/postgres/word_postgres.go
Labels: bug, Backend

#234 Develop
  .github/workflows/deploy.yml
  .github/workflows/platform-testing.yml
  .gitignore
  Makefile
  README.md
  backend/go.sum
  backend/internal/api/v1/handlers/telegram_handler.go
  backend/internal/api/v1/handlers_test/preferences_handler_test.go
  backend/internal/api/v1/routes/preferences_routes.go
  backend/nginx-container/nginx.conf.template
  docker-compose-local.yml
  docker-compose.yml
  docs/CI_CD_Platform_Improvements.md
  docs/Install_Local.md
  docs/Platform_Support.md
  telegram-bot/config/config.go
  telegram-bot/internal/api/client.go
  telegram-bot/internal/bot/fsm/memory.go
  telegram-bot/internal/bot/fsm/states.go
  telegram-bot/internal/bot/fsm/states_test.go
  telegram-bot/internal/bot/handlers/callback_handlers.go
  telegram-bot/internal/bot/handlers/exercises.go
  telegram-bot/internal/bot/handlers/learning_new.go
  telegram-bot/internal/bot/handlers/lesson_handler.go
  telegram-bot/internal/bot/handlers/questionnaire_handler.go
  telegram-bot/internal/bot/handlers/service.go
  telegram-bot/internal/bot/handlers/start_handler.go
  telegram-bot/internal/bot/handlers/test_handler.go
  telegram-bot/internal/domain/models.go
  telegram-bot/internal/utils/tts.go
Labels: bug, Backend, Devops, telegram

#236 fix: preferences
  backend/internal/api/v1/routes/preferences_routes.go
Labels: bug, Backend

#238 Develop
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/platform-testing.yml
  Makefile
  Makefile.new
  README.md
  analysis/llms/README.md
  analysis/llms/api.py
  analysis/llms/quick_test.sh
  analysis/llms/requirements.txt
  analysis/llms/test_api.py
  analysis/llms/test_docker.sh
  backend/.env.example
  backend/nginx-container/nginx.conf.template
  docker-compose-local.yml
  docker-compose.yml
  docs/Install_Full.md
Labels: Backend, Devops

#245 Clear code and add recommendations to lesson handler
  backend/internal/api/v1/handlers/lesson_handler.go
  backend/internal/api/v1/handlers_test/pick_option_test.go
  backend/internal/config/config.go
  backend/internal/router/router.go
Labels: Backend, ML

#274 fix: missing preferences in telegram handler and added preferences get for telegram
  backend/internal/api/v1/handlers/telegram_handler.go
  backend/internal/router/router.go
  telegram-bot/internal/bot/fsm/memory.go
  telegram-bot/internal/bot/fsm/states.go
  telegram-bot/internal/bot/handlers/lesson_handler.go
  telegram-bot/internal/bot/handlers/questionnaire_handler.go
  telegram-bot/internal/bot/handlers/service.go
  telegram-bot/internal/bot/handlers/test_handler.go
Labels: Backend, telegram

#278 Telegram bot WIP + get all topics in backend feature
  backend/internal/api/v1/handlers/topic_handler.go
  backend/internal/api/v1/routes/topic_routes.go
  backend/internal/repository/postgres/learned_words_test.go
  backend/internal/repository/postgres/topic_postgres.go
  backend/internal/repository/postgres/word_test.go
  telegram-bot/cmd/main.go
  telegram-bot/internal/api/client.go
  telegram-bot/internal/bot/fsm/memory.go
  telegram-bot/internal/bot/fsm/states.go
  telegram-bot/internal/bot/handlers/exercises.go
  telegram-bot/internal/bot/handlers/learning_new.go
  telegram-bot/internal/bot/handlers/lesson_handler.go
  telegram-bot/internal/bot/handlers/service.go
  telegram-bot/internal/bot/handlers/settings_handler.go
  telegram-bot/internal/bot/handlers/start_handler.go
  telegram-bot/internal/bot/handlers/time_utils.go
  telegram-bot/internal/tasks/handlers.go
  telegram-bot/internal/tasks/scheduler.go
  telegram-bot/internal/utils/tts.go
Labels: Backend
