Repository FluentlyOrg/Fluently-fork, pull requests merged in 2025-06, with the labels that each got.

#3 Dockerized backend
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/docker-compose.yml
  backend/swagger/Dockerfile
  backend/swagger/nginx.conf
Labels: enhancement

#76 feature
  .github/workflows/deploy.yml
  README.md
Labels: Devops

#81 New paths
  .github/workflows/deploy.yml
  backend/cmd/main.go
  backend/nginx-container/nginx.conf
  frontend-website/404.html
  frontend-website/assets/404-music.mp3
Labels: bug, Devops

#86 fix: swagger auth
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/v1/handlers/swagger_oauth_handler.go
  backend/internal/config/config.go
  backend/internal/router/router.go
Labels: bug, Backend

#87 fix: redirect uri
  backend/internal/api/v1/handlers/auth_handler.go
Labels: bug, Backend

#88 fix: scheme
  backend/internal/api/v1/handlers/auth_handler.go
  backend/internal/api/v1/handlers/swagger_oauth_handler.go
Labels: bug, Backend

#89 enhance: route for swagger callback
  backend/internal/api/v1/handlers/auth_handler.go
  backend/internal/api/v1/handlers/swagger_oauth_handler.go
  backend/internal/router/router.go
Labels: bug, Backend

#90 fix: swagger callback endpoint
  backend/internal/api/v1/handlers/swagger_oauth_handler.go
Labels: bug, Backend

#91 Develop
  backend/.gitignore
  backend/cmd/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: bug, Backend

#92 fix: remove copying docs to nginx container
  backend/nginx-container/Dockerfile
Labels: bug, Devops

#94 feature: add bearer auth header to all swagger api requests
  backend/internal/api/v1/handlers/learned_word_handler.go
  backend/internal/api/v1/handlers/pick_option_handler.go
  backend/internal/api/v1/handlers/preferences_handler.go
  backend/internal/api/v1/handlers/sentence_handler.go
  backend/internal/api/v1/handlers/topic_handler.go
  backend/internal/api/v1/handlers/user_handler.go
  backend/internal/api/v1/handlers/word_handler.go
Labels: Backend

#95 fix: swagger docs
  backend/cmd/main.go
Labels: bug

#122 Develop
  backend/internal/api/v1/handlers/lesson_handler.go
  backend/internal/repository/models/lesson.go
  backend/internal/repository/models/lesson_card.go
  backend/internal/repository/models/word.go
  backend/internal/repository/postgres/lesson_postgres.go
  backend/internal/repository/schemas/lesson.go
Labels: Backend, Architecture

#125 Develop
  .gitignore
  backend/examples/telegram_bot_integration.md
  backend/internal/api/v1/handlers/lesson_handler.go
  backend/internal/api/v1/handlers/telegram_handler.go
  backend/internal/api/v1/handlers/user_handler.go
  backend/internal/api/v1/routes/telegram_routes.go
  backend/internal/repository/models/link_token.go
  backend/internal/repository/models/user.go
  backend/internal/repository/postgres/link_token_postgres.go
  backend/internal/repository/postgres/user_postgres.go
  backend/internal/repository/schemas/telegram.go
  backend/internal/repository/schemas/user.go
  backend/internal/router/router.go
  backend/internal/utils/cleanup.go
Labels: Backend

#132 feature: monitoring dashboards for containers
  backend/docker-compose.yml
  backend/monitoring/grafana/dashboards/api-dashboard.json
  backend/monitoring/grafana/dashboards/docker-dashboard.json
  backend/monitoring/grafana/dashboards/system-dashboard.json
  backend/monitoring/prometheus/prometheus.yml
  backend/nginx-container/nginx-staging.conf
  backend/nginx-container/nginx.conf
Labels: enhancement, Devops

#134 Develop
  backend/internal/api/v1/handlers/auth_handler.go
  backend/internal/api/v1/handlers/lesson_handler.go
  backend/internal/api/v1/handlers/preferences_handler.go
  backend/internal/api/v1/handlers/word_handler.go
  backend/internal/repository/models/preferences.go
  backend/internal/repository/models/word.go
  backend/internal/repository/postgres/lesson_postgres.go
  backend/internal/repository/postgres/preferences_postgres.go
  backend/internal/repository/postgres/sentence_postgres.go
  backend/internal/repository/schemas/lesson.go
  backend/internal/repository/schemas/preferences.go
  backend/internal/repository/schemas/word.go
Labels: Frontend, Backend

#135 feature: add FastAPI backend for ML model
  analysis/distractor_api/.dockerignore
  analysis/distractor_api/Dockerfile
  analysis/distractor_api/README.md
  analysis/distractor_api/api/routes.py
  analysis/distractor_api/docker-compose.yml
  analysis/distractor_api/main.py
  analysis/distractor_api/models/schemas.py
  analysis/distractor_api/pyproject.toml
  analysis/distractor_api/run.py
  analysis/distractor_api/services/__init__.py
  analysis/distractor_api/services/distractor_service.py
  backend/internal/repository/models/preferences.go
Labels: Backend, ML

#136 ML Backend
  analysis/distractor_api/.dockerignore
  analysis/distractor_api/Dockerfile
  analysis/distractor_api/README.md
  analysis/distractor_api/api/routes.py
  analysis/distractor_api/docker-compose.yml
  analysis/distractor_api/main.py
  analysis/distractor_api/models/schemas.py
  analysis/distractor_api/pyproject.toml
  analysis/distractor_api/run.py
  analysis/distractor_api/services/__init__.py
  analysis/distractor_api/services/distractor_service.py
  backend/internal/repository/models/preferences.go
Labels: Backend, ML

#140 fix: bugs in docker compose of ML backend
  analysis/distractor_api/Dockerfile
  analysis/distractor_api/api/routes.py
  analysis/distractor_api/docker-compose.yml
  analysis/distractor_api/main.py
  analysis/distractor_api/services/distractor_service.py
Labels: Backend, ML

#142 Tested new deployment procedure
  .github/workflows/deploy.yml
  analysis/distractor_api/Dockerfile
  analysis/distractor_api/api/routes.py
  analysis/distractor_api/docker-compose.yml
  analysis/distractor_api/main.py
  analysis/distractor_api/services/distractor_service.py
  backend/.env.example
  backend/Dockerfile
  backend/cmd/main.go
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/internal/api/v1/handlers/metrics.go
  backend/internal/config/config.go
  backend/monitoring/grafana/dashboards/api-dashboard.json
  backend/monitoring/grafana/dashboards/docker-dashboard.json
  backend/monitoring/grafana/dashboards/system-dashboard.json
  backend/monitoring/loki/loki-config.yml
  backend/monitoring/prometheus/prometheus.yml
  backend/nginx-container/cloudflare-certs.sh
  backend/nginx-container/manage-nginx.sh
  backend/nginx-container/nginx-headers.conf
  backend/nginx-container/nginx-origin-certs.conf
  backend/nginx-container/nginx-staging.conf
  backend/nginx-container/nginx.conf
  backend/nginx-container/nginx.conf.template
  docs/Infrastructure_Services_EN.md
  docs/Infrastructure_Services_RU.md
  docs/Quick_Reference_Card.md
  docs/Team_Onboarding_Guide.md
  docs/Team_Onboarding_Guide_RU.md
Labels: Devops
